@font-face {
  font-family: ArchitectsDaughter;
  src: url(ArchitectsDaughter.ttf);
}

*{
  font-family: ArchitectsDaughter;
  color: #ffcc00;
}

body {
  background-color: #323232;
}

input {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  border-radius: 4px;
  color:black;
}

input:focus {
  border: 3px solid #555;
  border-radius: 4px;
}

button {
  backface-visibility: hidden;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  background: #444;
  border-radius: 0px;
  border: 3px solid #222;
  border-width: 3px 3px 3px 3px;
  padding: 5px 20px 5px 20px;
  color: #fff;
  font-size: 16px;
  font-weight: 900;
  font-style: normal
}

.comment {
  border-left: 6px solid white;
  background-color: #404040;
  padding:5px 5px 0px 5px;
}
