{% load staticfiles %}
{% load crispy_forms_tags %} <!-- crispy form is part of bootstrap, used for designing the page -->
{% load widget_tweaks %} <!-- Tweak the form field rendering in templates -->

<head>
	<link rel="stylesheet" type="text/css" href="{% static "css/styles.css"%}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="{% static 'js/script.js'%}"></script>
	<div id="header"></div>
</head>
<body>
A page to create polls
<br>

<div>
	<form action="{% url 'polls:createpoll' %}" method="post">
	{% csrf_token %}
	{% for hidden in form.hidden_fields %}
    	{{ hidden }}
	{% endfor %}
<br>
<br>
	{% for field in form.visible_fields %}
		<div class="form-group">
			<label for="{{ field.id_for_label }}">{{ field.label }}</label>
			{{ field }}
			{% for error in field.errors %}
			<span class="help-block">{{ error }}</span>
			{% endfor %}
		</div>
	{% endfor %}
		<input type="submit" value="Submit">
	</form>
</div>

</body>
