{% load staticfiles %}
<img style = "width: 20%; height: 20%; ; " src="{% static "images/LOGO.png"%}"  alt=" "  />
<div style="vertical-align:top;display:inline;">

		<form action="/polls" method="get" style="display:inline;">
			<button type="submit" style="margin-top:8px;">Home</button>
		</form>

		<form action="{% url 'polls:createpoll' %}" method="get" style="display:inline;">
			<button type="submit" style="margin-top: 8px;">Create Poll</button>
		</form>

		<form action="{% url 'polls:myaccount' %}" method="get" style="display:inline;">
			<button type="submit" style="margin-top: 8px;">My account</button>
		</form>

		<div style="float:right;">
			<form action="{% url 'polls:search' %}" style="display:inline;">
				<input type="text" placeholder="Search.." style="width: 300px;" name="q" required="required">
				<button type="submit" style="margin-top: 8px;">&#x1f50d;</button>
			</form>
			{% if user.is_authenticated %}
  				Hi {{ user.username }}!
  				<form action="{% url 'logout' %}" style="display:inline;">
					<button type="submit">Log out</button>
				</form>
			{% else %}
  				You are not logged in!
  				<form action="{% url 'login' %}" style="display:inline;">
					<button type="submit">Log in</button>
				</form>
			{% endif %}
		</div>
</div>



