{% load staticfiles %}
<img style = "width: 20%; height: 20%; ; " src="{% static "images/LOGO.png"%}"  alt=" "  />
<div style="vertical-align:top;display:inline;">

		<form action="/polls" method="get" style="display:inline;">
			<button type="submit" style="margin-top:8px;">Home</button>
		</form>

		<form action="{% url 'polls:createpoll' %}" method="get" style="display:inline;">
			<button type="submit" style="margin-top: 8px;">Create Poll</button>
		</form>

		<div style="float:right;">
			<form action="{% url 'polls:search' %}" style="display:inline;">
				<input type="text" placeholder="Search.." style="width: 300px;" name="q" required="required">
				<button type="submit">&#x1f50d;</button>
			</form>
			<form style="display:inline;">
				<button type="submit">Log out</button>
			</form>
		</div>
</div>


{% if messages %}
	<ul class="messages">
		{% for message in messages %}
			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		{% endfor %}
	</ul>
{% endif %}
