{% load staticfiles %}
<head>
	<link rel="stylesheet" type="text/css" href="{% static "css/styles.css"%}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="{% static "js/script.js"%}"></script>
	<div id="header"></div>
</head>
<body>
    <form action="{% url 'polls:mypolls' %}">
		<input type="submit" name="submit" value="My polls">
	</form>
	<form action="{% url 'polls:my_voted_polls' %}">
		<input type="submit" name="submit" value="My voted polls">
	</form>
</body>

<!-- you need a button to access myaccount -->
