{% load staticfiles %}
{% load account %}

<head>
	<link rel="stylesheet" type="text/css" href="{% static "css/styles.css"%}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="{% static "js/script.js"%}"></script>
	<div id="header"></div>
</head>
<body>
A page to view your poll

<h2>{{ poll.form }}</h2>
<h5>By: {% user_display poll.author %}</h5>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' poll.id %}" method="POST">
	{% csrf_token %}
	{% for option in poll.options_set.all %}
		<input type="radio" name="option" id="option{{ forloop.counter }}" value="{{option.id}}" style="width: unset;">
		<label for="option{{ forloop.counter }}">{{ option.option }}</label><br />
	{% endfor %}

	<input type="submit" value="Vote" />

</form>

</body>
